{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div>
                <a href="/form-recipe" class="text-decoration-none">
                    <h3 class="btn btn-primary">Add Recipe</h3>
                </a>

                <a href="/view-recipe" class="text-decoration-none">
                    <h3 class="btn btn-info">View Recipe</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}